@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400&display=swap");
html,
body {
  overscroll-behavior-x: none;
}
body {
  height: 100vh;
  width: 100vw;
}
:root {
  --side-bar__icons_bar-width: 70px;
  --side-bar__icons_bar-padding: calc(var(--side-bar__icons_bar-width) / 5);
  --side-bar__icons_bar-icons-border-radius: 8px;
  --side-bar-width: 280px;
  --app__container-padding: 0.3em;
  --side-bar__menu__content-zindex: 1;
  --side-bar__menu_content_menus-zindex: 2;
  --side-bar__icons-bar-zindex: 3;
  --side-bar__toggle_btn-zindex: 4;
  --side-bar-menu__appears-animation-time: 0.3s;
  --side-bar__menu__content-transition: left
    var(--side-bar-menu__appears-animation-time) ease-in-out;
  --side-bar__toggle_btn-size: 30px;
  --on-toggle-transition-time: 0.3s;
  --on-toggle-transition: width var(--on-toggle-transition-time) ease-in-out;
  --menu--profile-height: 70px;
}
.app__container {
  background-color: var(--app-bkg-color);
  height: 100%;
  width: 100%;
  display: flex;
  padding: var(--app__container-padding);
}
.app__content {
  flex: 1;
  overflow-y: auto;
}
.side_bar {
  display: flex;
  width: var(--side-bar__icons_bar-width);
  position: sticky;
  top: var(--app__container-padding);
  /* overflow: hidden; */
  transition: var(--on-toggle-transition);
  user-select: none !important;
}
.side_bar__icons_bar {
  display: flex;
  flex-direction: column;
  background-color: var(--side-bar-darken-color);
  width: var(--side-bar__icons_bar-width);
  height: 100%;
  /* padding: var(--side-bar__icons_bar-padding); */
  padding: calc(var(--side-bar__icons_bar-padding)) 0;
  border-radius: var(--side-bar__icons_bar-icons-border-radius);
  box-shadow: var(--side-bar__icons_bar-icons-shadow);
  transition: border-radius calc(var(--on-toggle-transition-time) * 2)
    ease-in-out;
  position: sticky;
  z-index: var(--side-bar__icons-bar-zindex);
  align-items: center;
}
.side_bar.toggled > .side_bar__icons_bar {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  transition: none;
}
.side_bar.toggled {
  width: var(--side-bar-width);
}
.side_bar__icons_bar__brand {
  margin-bottom: 20px;
}
.side_bar__icons_bar__brand span {
  color: var(--side-bar__icons_bar-icons-color);
  padding: 8px;
  background-color: var(--side-bar__icons_bar-icons-bkg-color);
  border-radius: var(--side-bar__icons_bar-icons-border-radius);
  text-align: center;
}
.side_bar__icons_bar__menu {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: var(--side-bar__icons_bar-width);
  align-items: center;
  flex: 1;
  overflow-y: auto;
}
.icon_menu {
  height: 40px;
  transition: all var(--on-toggle-transition-time) ease-in-out;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.icon_menu[menu-title]:hover {
  height: 64px;
}
.side_bar__icons_bar__menu .icon_menu span {
  color: var(--side-bar__icons_bar-icons-color);
  padding: 8px;
  border-radius: var(--side-bar__icons_bar-icons-border-radius);
  text-align: center;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s ease-in-out;
}
.side_bar__icons_bar__menu .icon_menu :is(span.selected, span:hover) {
  background-color: var(--side-bar__icons_bar-icons-bkg-color);
}
.side_bar__icons_bar__menu .icon_menu:hover::after {
  display: block;
}
.side_bar__icons_bar_configs {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  margin-bottom: 20px;
}
.side_bar__icons_bar_configs span {
  padding: 8px;
  color: var(--side-bar__icons_bar-icons-color);
  text-align: center;
}
.side_bar__icons_bar__profile {
  display: flex;
  width: 100%;
  justify-content: center;
}
.side_bar__icons_bar__profile img {
  width: calc(var(--side-bar__icons_bar-width) - 25px);
  height: calc(var(--side-bar__icons_bar-width) - 25px);
  border-radius: 50%;
  object-fit: contain;
  object-position: center center;
  border: 2px solid var(--side-bar__icons_bar-icons-color);
}
.icon_menu[menu-title]::after {
  display: none;
  content: attr(menu-title);
  position: relative;
  background-color: var(--side-bar__icons_bar-icons-tooltip-bkg-color);
  color: var(--side-bar__icons_bar-icons-tooltip-color);
  border-radius: 5px;
  font-size: 11px;
  text-transform: capitalize;
  padding: 3px 5px;
  top: 4px;
  text-align: center;
  z-index: 5;
  font-weight: 500;
  font-family: "Poppins";
  letter-spacing: 0.5px;
  width: calc(100% - 5px);
}
.side_bar__content {
  display: flex;
  flex-direction: column;
  width: 0;
  height: 100%;
  background-color: var(--side-bar-color);
  overflow: hidden;
  padding: 0;
  padding-top: calc(var(--side-bar__icons_bar-padding) * 1.6);
  transition: var(--on-toggle-transition);
}
.side_bar.toggled > .side_bar__content {
  width: 100%;
}
:not(.side_bar.toggled) > .side_bar__content .side_bar__content__menu {
  left: -200%;
}
.side_bar__content__title {
  color: var(--side-bar__title-color);
  font-weight: 700;
  font-size: 14px;
  font-family: "Poppins";
  margin-left: var(--side-bar__icons_bar-padding);
}
.side_bar__content__menu {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  padding: 10px 0;
  position: absolute;
  left: -200%;
  margin: 0;
  opacity: 0;
  transition: var(--side-bar__menu__content-transition);
}
.side_bar__content__menu li {
  width: 100%;
  display: flex;
  /* justify-content: space-between; */
  list-style: none;
  text-indent: 0;
  color: var(--side-bar__menu__items-color);
  border-radius: var(--side-bar__icons_bar-icons-border-radius);
  padding: 3px 6px;
  white-space: nowrap;
  transition: background-color 0.2s ease-in-out;
}
.side_bar__content__menu a {
  text-decoration: none;
  color: inherit;
}
.side_bar__content__menu li {
  width: calc(100% - var(--deep));
  color: inherit;
  font-size: 14px;
  text-align: left;
  font-family: "Poppins";
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1.2px;
  cursor: pointer;
  align-items: center;
  margin-top: 8px;
}
.side_bar__content li span {
  pointer-events: none;
}
.side_bar__content__menu :is(li:hover, li.active) {
  background-color: var(--side-bar__icons_bar-icons-bkg-color);
}
.side_bar__content__menu.open {
  left: calc(
    var(--side-bar__icons_bar-width) + var(--side-bar__icons_bar-padding)
  );
  opacity: 1;
}
.side_bar__content__menu__item__icon {
  vertical-align: middle;
  font-size: 10px;
  color: var(--side-bar__icons_bar-icons-color);
  margin-right: 10px;
}

.side_bar__toggle_btn {
  display: none;
  justify-content: center;
  align-items: center;
  position: sticky;
  padding: 0;
  height: var(--side-bar__toggle_btn-size);
  width: var(--side-bar__toggle_btn-size);
  border-radius: 50%;
  color: var(--side-bar__menu__items-color);
  background-color: var(--side-bar-darken-color);
  left: 5px;
  top: 5px;
  cursor: pointer;
  transform: rotate(0deg);
  user-select: none;
  transition: left var(--on-toggle-transition-time) ease-in-out;
}
.side_bar__toggle_btn span {
  font-size: 24px;
  margin: 0;
}
.side_bar__toggle_btn:hover {
  text-shadow: 0px 0px 9px var(--side-bar__icons_bar-icons-color);
}
:not(.side_bar.hidden) ~ .app__content .side_bar__toggle_btn {
  transform: rotate(180deg);
  left: calc(var(--side-bar__icons_bar-width) + 10px);
}
:not(.side_bar.hidden).toggled ~ .app__content .side_bar__toggle_btn {
  /* display: none; */
  left: calc(var(--side-bar-width) + 10px);
}
.side_bar__content {
  /* border: 0.1px solid red; */
}
.side_bar__content__profile {
  display: flex;
  position: relative;
  height: var(--menu--profile-height);
  width: calc(var(--side-bar-width) - var(--side-bar__icons_bar-width));
  overflow: hidden;
  margin-top: auto;
  /* border: 0.1px solid red; */
  color: var(--side-bar__icons_bar-icons-color);
  padding: 0.6em;
  align-items: center;
  gap: 5px;
  font-weight: bolder;
  font-family: "Poppins";
  font-size: 12px;
  justify-content: space-around;
}
.side_bar__content__profile .logout__icon {
  color: var(--side-bar__icons_bar-icons-color);
  cursor: pointer;
}
.side_bar__content__profile .logout__icon span {
  transition: all var(--on-toggle-transition-time) ease-in-out;
  padding: 2.5px;
}

:is(.side_bar__icons_bar_configs, .side_bar__content__profile .logout__icon)
  span:hover {
  background-color: var(--side-bar__icons_bar-icons-bkg-color);
  border-radius: var(--side-bar__icons_bar-icons-border-radius);
  cursor: pointer;
}

.search__options {
  display: flex;
  --input-icon-size: 20px;
  align-items: center;
}
.search__options__input {
  width: 100%;
  border-radius: var(--side-bar__icons_bar-icons-border-radius);
  border: 1px solid transparent;
  outline: none;
  padding: 0.2em 0.6em;
  font-size: 14px;
  caret-color: var(--cursor--color);
  transition: border var(--on-toggle-transition-time) ease-in-out;
}
.search__options__input:is(:hover, :active) {
  border: 1px solid var(--cursor--color);
}
.search__options__input:is(:hover, :active) ~ span {
  color: var(--cursor--color);
}
.search__options span {
  width: var(--input-icon-size);
  position: relative;
  left: calc(-1 * var(--input-icon-size) - 0.3em);
  transition: color var(--on-toggle-transition-time) ease-in-out;
}
.search__results {
  padding-top: 0.6em;
}
.side_bar__content__menu__option[submenusname]::after {
  content: "\e5cf";
  font-family: "Material Icons Outlined";
  font-size: 18px;
}
.side_bar__content__menu__option.submenu__parent__selected[submenusname]::after {
  content: "\e5ce" !important;
}
.side_bar__content__menu__option[childof] {
  height: 0;
  opacity: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  transition: height calc(var(--on-toggle-transition-time) / 3) ease-in-out;
  pointer-events: none;
}
.search__results .side_bar__content__menu__option,
.side_bar__content__menu__option.submenu__open[childof] {
  height: 33px;
  padding-top: 3px;
  padding-bottom: 3px;
  opacity: 1;
  margin-top: 8px;
  pointer-events: all;
}
.side_bar__content__menu__option[childof] {
  margin-left: calc(10px * var(--deep));
}
.search__results .side_bar__content__menu__option {
  margin-left: 0;
  width: 100%;
}
.submenu__parent__selected ~ .side_bar__content__menu__option:not([childof]) {
  /* display: none; */
}
/* .submenu__open::before {
  content: " ";
  display: block;
  width: 10px;
  height: calc(100% + 16px);
  background: transparent;
  border: 3px solid red;
  border-right: 0;
  border-top: 0;
  position: relative;
  left: -2px;
  top: -20px;
} */

/*Break points*/
@media (max-width: 575.98px) {
}

@media (max-width: 767.98px) {
  :root {
    --side-bar-width: 400px;
  }
  .side_bar {
    position: absolute;
    height: calc(100vh - var(--app__container-padding) * 2);
    max-width: calc(100vw - var(--app__container-padding) * 2);
    transition: var(--on-toggle-transition),
      left var(--on-toggle-transition-time) ease-in-out;
    left: var(--app__container-padding);
  }
  .side_bar__icons_bar {
    background-color: var(--side-bar__icons_bar-icons-bkg-mobile-color);
    backdrop-filter: blur(2px);
  }
  .side_bar__toggle_btn {
    display: flex;
    z-index: 1 !important;
  }
  .side_bar.hidden {
    left: calc(-1 * var(--side-bar__icons_bar-width));
  }
}

@media (max-width: 991.98px) {
}

@media (max-width: 1199.98px) {
}
