<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/form_controls.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body style="padding: 20px !important;">
    <div class="search_box">
        <input type="text" class="search_box__input" placeholder="Search" />
        <button class="search_box__search_button">
            <ion-icon name="search"></ion-icon>
        </button>
    </div>
    <hr>
    <div class="card_with_link">
        <div class="card_with_link__content">
            <div class="card_with_link__header">Open Projects</div>
            <div class="card_with_link__body">500</div>
        </div>
        <div class="card_with_link__link">
            <a href="#">
                <ion-icon name="arrow-forward"></ion-icon>
            </a>
        </div>
    </div>
    <hr>
    <div class="mini-info-cards">
        <div class="mini-info-cards__icon">
            <ion-icon name="flag"></ion-icon>
        </div>
        <div class="mini-info-cards__title">New Suscribers</div>
        <div class="mini-info-cards__main">5046</div>
        <div class="mini-info-cards__footer">+15.00%</div>
    </div>
    <hr>
    <svg class="progress-ring" width="200" height="200">

        <circle class="progress-ring__circle" stroke="var(--color-1)" stroke-width="14" fill="transparent" r="92"
            cx="100" cy="100" />

        <circle stroke="var(--color-2)" stroke-width="12" fill="var(--color-1)" r="50" cx="100" cy="100" />

        <circle class="progress-ring__border-start" stroke="var(--color-1)" stroke-width="3.5" fill="var(--color-1)"
            r="5" />

        <circle class=" progress-ring__border-end" stroke="var(--color-1)" stroke-width="3.5" fill="white" r="5" cx="0"
            cy="0" />



        <text class="progress-ring__percentaje-info" x="70" y="110" fill="white" width="100"></text>

    </svg>
    <input id="process-ring__input" value="10" type="number" step="5" min="0" max="100" placeholder="progress">
    <canvas class="" id="mychart"></canvas>





    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"
        integrity="sha256-ErZ09KkZnzjpqcane4SCyyHsKAXMvID9/xwbl/Aq1pc=" crossorigin="anonymous"></script> -->
    <!-- <script>
        
        let mychartContainer = document.getElementById('mychart');
        let ctx = mychartContainer.getContext("2d");

        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
                datasets: [{
                    label: '# of sales',
                    data: [10, 56, 34, 23, 12, 89, 28, 10, 56, 34, 23, 12, 89, 28],
                    borderWidth: 1,
                    borderRadius: 50,
                    barThickness: 16
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true,
                        grid: {
                            display: false,
                        },
                    },
                    x: {
                        grid: {
                            display: false,
                        },
                    },
                }
            }
        });
    </script> -->
    <script>
        var circle = document.querySelector('circle');
        var textPercentaje = document.querySelector(".progress-ring__percentaje-info");
        var roundCorner = document.querySelector('.progress-ring__border-end')
        var roundCornerStar = document.querySelector('.progress-ring__border-start')

        var radius = circle.r.baseVal.value;
        let { x, y } = getBorderEndPosition(radius, 0, -45 * Math.PI / 180);
        roundCornerStar.style = `transform:translate(${x}px,${y}px)`;

        var circumference = radius * 2 * Math.PI;

        circle.style.strokeDasharray = `${circumference} ${circumference}`;
        circle.style.strokeDashoffset = `${circumference}`;
        function setProgress(percent) {
            const offset = circumference - percent / 100 * circumference;
            circle.style.strokeDashoffset = offset;
            textPercentaje.innerHTML = `${percent}%`;
            let desfase = 45 * Math.PI / 180;
            let { x, y } = getBorderEndPosition(circle.r.baseVal.value, percent, - desfase);
            roundCorner.style = `transform:translate(${x}px,${y}px)`;
            //  setAttribute("cx", x);
            // roundCorner.setAttribute("cy", y);
        }
        function getBorderEndPosition(r, percent, desfase) {
            let x = r * 2 + 8;
            let y = 101;
            let angle = 2 * Math.PI * percent / 100 + desfase;
            x = r + r * Math.cos(angle) + 8;
            y = r + r * Math.sin(angle) + 8;
            return { x, y };
        }
        const input = document.querySelector('input#process-ring__input');
        setProgress(input.value);

        input.addEventListener('change', function (e) {
            if (input.value < 101 && input.value > -1) {
                setProgress(input.value);
            }
        })



    </script>
</body>

</html>