<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>

    <div class="side_bar">
        <div class="side_bar__header">
            <div class="side_bar__brand">
                Marca
            </div>
        </div>
        <div class="side_bar__body">
            <ul>
                <a href="">
                    <ion-icon name="speedometer"></ion-icon>Dashboard
                </a>
                <a href="">
                    <ion-icon name="person"></ion-icon>Profile
                </a>
                <a href="">
                    <ion-icon name="briefcase"></ion-icon>Utilities
                </a>
                <a href="">
                    <ion-icon name="settings"></ion-icon>Settings
                </a>
                <a href="">
                    <ion-icon name="chatbubbles"></ion-icon>Messages
                </a>
                <a href="">
                    <ion-icon name="pie-chart"></ion-icon>Analytics
                </a>
                <a href="">
                    <ion-icon name="git-compare"></ion-icon>Integrations
                </a>
            </ul>
        </div>
        <div class="side_bar__footer">
            <div class="ad_message">
                <div class="ad_message__principal_icon">
                    <ion-icon name="time"></ion-icon>
                </div>
                <div class="ad_message__options">
                    <button title="Opciones">
                        <ion-icon name="options"></ion-icon>
                    </button>
                </div>
                <div class="ad_message__body">
                    <div class="ad_message__title_message">
                        History Available
                    </div>
                    <div class="ad_message__message">
                        Check your weekly transactions report.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="main-content">
            sdsdwekqjeqjw
        </div>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>