<!DOCTYPE html>
<html lang="en" class="light-theme">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/sidebar.css">
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body>

    <div class="side_bar" id="side_bar">
        <div class="side_bar__header">
            <div class="side_bar__brand">
                Marca
            </div>
        </div>
        <div class="side_bar__body">
            <ul>
                <a href="">
                    <ion-icon name="speedometer"></ion-icon>Dashboard
                </a>
                <a href="">
                    <ion-icon name="person"></ion-icon>Profile
                </a>
                <a href="">
                    <ion-icon name="briefcase"></ion-icon>Utilities
                </a>
                <a href="">
                    <ion-icon name="settings"></ion-icon>Settings
                </a>
                <a href="">
                    <ion-icon name="chatbubbles"></ion-icon>Messages
                </a>
                <a href="">
                    <ion-icon name="pie-chart"></ion-icon>Analytics
                </a>
                <a href="">
                    <ion-icon name="git-compare"></ion-icon>Integrations
                </a>
            </ul>
        </div>
        <div class="side_bar__footer">
            <div class="ad_message">
                <div class="ad_message__principal_icon">
                    <ion-icon name="time"></ion-icon>
                </div>
                <div class="ad_message__options">
                    <button title="Opciones">
                        <ion-icon name="options"></ion-icon>
                    </button>
                </div>
                <div class="ad_message__body">
                    <div class="ad_message__title_message">
                        History Available
                    </div>
                    <div class="ad_message__message">
                        Check your weekly transactions report.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <main>
        <div class="mobile__header">
            <div class="mobile__header__nav_bar_toggle_btn" id="mobile__header__nav_bar_toggle_btn">
                <ion-icon name="grid"></ion-icon>
            </div>
            <div class="mobile__header__brand">
                Marca
            </div>
        </div>
        <div class="main-content">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore dolor et deleniti, rem asperiores harum
            illum, repellendus accusamus animi suscipit praesentium officiis debitis nobis consectetur laborum nostrum
            dolores aut. Quo ut repudiandae assumenda non voluptas modi omnis. Corrupti asperiores quia ipsum ipsam quis
            nihil nobis sapiente cupiditate exercitationem praesentium. Ut iste error ad perspiciatis id eum distinctio
            molestiae? Minima ea eligendi rerum, illum, repudiandae impedit iste maxime quod perferendis reprehenderit
            cupiditate amet, et mollitia. Optio similique excepturi culpa dolore ex quibusdam eligendi voluptatem
            provident quasi laborum! Veniam sunt aperiam distinctio asperiores officia reprehenderit tenetur quidem.
            Ratione, exercitationem maxime. Rem, maiores.

            Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus soluta quae nam officia maxime iure
            magnam illum distinctio aliquam necessitatibus! Dolor voluptate, possimus nulla sed ipsam sequi hic itaque
            beatae excepturi consectetur esse culpa unde sint! Numquam explicabo amet inventore, necessitatibus debitis
            sequi molestias ducimus, cum praesentium nihil dolorem ratione omnis cumque, ex suscipit nesciunt dolore
            earum ad deserunt error? Corporis et pariatur qui nam praesentium natus a voluptas ullam illum quasi
            veritatis deleniti, asperiores adipisci magni inventore architecto voluptates enim? Dolorum ipsum voluptas,
            repellat sed culpa tempore, maiores quos illum accusantium dicta sunt adipisci eum repudiandae autem sint.
            Vitae harum vero alias aliquam, ipsam doloribus id fugiat est, error quasi eius modi ab ut sapiente, nisi
            earum aperiam nam sunt dolorem blanditiis. Harum, consectetur? Animi, nobis placeat inventore dolor modi
            quaerat repellendus rerum tempora asperiores earum totam magnam obcaecati alias corporis iste quas eos
            doloribus, facilis, architecto repellat amet? Asperiores hic suscipit aliquid voluptate animi enim
            laudantium dolorum aperiam labore? Veniam accusamus vitae earum facere ipsa harum quos corporis, quis, quas
            error nisi quasi sequi blanditiis voluptas pariatur tempora a accusantium dicta veritatis, exercitationem
            nam architecto temporibus praesentium vel. Ipsa sit numquam officiis sapiente ab veritatis odio ex aut.
        </div>
    </main>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="../js/sideBar.js"></script>
</body>

</html>